@charset "utf-8";

@keyframes feedback_box_ani
{
    0%
    {
        transform: scale(0.1);
    }
    40%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}

#container {
    position: absolute;
    left: 0px;
    top: 0px;

    width: 1280px;
    height: 768px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}
.left_section {
    background-color: rgba(0, 1, 2, 0.2);
}
.center_section {
    background-color: rgba(100, 1, 2, 0.2);
}
.right_section {
    background-color: rgba(250, 1, 2, 0.2);
}

#text_container {
    position: relative;
    /* width: 800px; */
    height: 600px;
    /* background-color: rgba(0, 1, 2, 0.5); */

    display: flex;
    flex-direction: column;
}

.text_cont {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 1, 2, 0.5); */

    display: flex;
    align-items: center;
    justify-content: center;
}
.text_cont .text {
    font-family: 'NanumSquareRoundB';
    font-size: 30px;
}
.text_cont.on .text{
    color: red;
}


.btn_container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add_btn {
    width: 100px;
    height: 100px;

    background-color: red;
    color: #ffffff;
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.remove_btn {
    width: 100px;
    height: 100px;

    background-color: green;
    color: #ffffff;
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.start_btn {
    width: 100px;
    height: 100px;

    background-color: blue;
    color: #ffffff;
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.record_container {
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.record_container .record {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.record_container .record .title {
    font-family: 'NanumSquareRoundEB';
    font-size: 30px;
    width: 60%;
    text-align: center;
}
.record_container .record .date {
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;
    width: 30%;
    text-align: center;
}
.record_container .record .blank {
    font-family: 'NanumSquareRoundEB';
    font-size: 20px;
    width: 10%;
    text-align: center;
}

.record_container .record:first-child .blank::before {
    content: "▲";
}
.record_container .record:last-child .blank::before {
    content: "▼";
}



